<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICourseMates" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50368/CourseMates.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICourseMates" contract="ServiceReference1.ICourseMates"
                name="BasicHttpBinding_ICourseMates" />
        </client>
    </system.serviceModel>
</configuration>
