<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
	</system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TransportBinding" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="214748364" maxArrayLength="214748364"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <services>
      <service behaviorConfiguration="RestSoap" name="CourseMatesWS.CourseMates">
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="TransportBinding" name="soap" contract="CourseMatesWS.ICourseMates"  />
        <endpoint address="rest" behaviorConfiguration="Rest" binding="webHttpBinding" name="rest" contract="CourseMatesWS.IAndroidRest" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Rest">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="RestSoap">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="CourseMates.svc" />
            </files>
        </defaultDocument>
	</system.webServer>
  <connectionStrings>
    <add name="MainDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CourseMates;User ID=sys_cm1;Password=arielido@1"/>
  </connectionStrings>
</configuration>
