<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
  <system.serviceModel>
    <bindings />
    <client />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="CourseMatesWS.CourseMates"
               behaviorConfiguration="ServiceWithMetadata">
        <endpoint binding="basicHttpBinding"
                  contract="CourseMatesWS.ICourseMates" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceWithMetadata">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="CourseMates.svc" />
            </files>
        </defaultDocument>
	</system.webServer>
  <connectionStrings>
    <add name="MainDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CourseMates;User ID=sys_cm1;Password=arielido@1"/>
  </connectionStrings>
</configuration>
