<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
  </configSections>
	<system.web>
    <sessionState mode="InProc" timeout="180"/>
    <httpRuntime maxRequestLength="20480"/>
		<httpHandlers>
			<add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
		</httpModules>
		<compilation debug="true"/>
  </system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
		</modules>
		<handlers>
			<add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
		</handlers>
		<defaultDocument>
			<files>
				<add value="Index.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
 <system.serviceModel>
   <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  <bindings>
   <basicHttpBinding>
    <binding name="soap" maxReceivedMessageSize="2147483647" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:50368/CourseMates.svc/soap"
    binding="basicHttpBinding" bindingConfiguration="soap" contract="CMwcf.ICourseMates" 
    name="soap" />
  </client>
 </system.serviceModel>
</configuration>
