<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50368/CourseMates.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="soap" contract="ServiceReference1.ICourseMates"
                name="soap" />
        </client>
    </system.serviceModel>
</configuration>