.search-item {
    font          : normal 11px tahoma, arial, helvetica, sans-serif;
    padding       : 3px 10px 3px 10px;
    border        : 1px solid #fff;
    border-bottom : 1px solid #eeeeee;
    white-space   : normal;
    color         : #555;
}
        
.search-item h3 {
    display     : block;
    font        : inherit;
    font-weight : bold;
    color       : #222;
    margin      :0px;
}

.search-item h3 span {
    float       : right;
    font-weight : normal;
    margin      : 0 0 5px 5px;
    width       : 100px;
    display     : block;
    clear       : none;
} 
.ux-wallpaper {
    background-color:White !important;
    background-image:url(../Images/Logo.png) !important;
    background-position:center !important;
    background-repeat:no-repeat !important;
}
.x-beige-folder
{
    background-image:url("../Images/FolderIcons/beige.png");
}
.x-black-folder
{
    background-image:url("../Images/FolderIcons/black.png");
}
.x-blue-folder
{
    background-image:url("../Images/FolderIcons/blue.png");
}
.x-green-folder
{
    background-image:url("../Images/FolderIcons/green.png");
}
.x-lila-folder
{
    background-image:url("../Images/FolderIcons/lila.png");
}
.x-orange-folder
{
    background-image:url("../Images/FolderIcons/orange.png");
}
.x-pink-folder
{
    background-image:url("../Images/FolderIcons/pink.png");
}
.x-white-folder
{
    background-image:url("../Images/FolderIcons/white.png");
}
.x-folder-text
{
    color:Black;
}
.img-chooser-dlg .details {
    text-align: center;
}

.img-chooser-dlg .details-info {
    border-top: 1px solid #cccccc;
    font: 11px Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding-top: 5px;
    text-align: left;
}

.img-chooser-dlg .details-info b {
    color: #555555;
    display: block;
    margin-bottom: 4px;
    margin-left: 5px;
}

.img-chooser-dlg .details-info span {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

.img-chooser-view {
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}

.img-chooser-view .thumb {
    padding: 3px;
}

.img-chooser-view .thumb-wrap {
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}

.img-chooser-view .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}

.img-chooser-view .x-view-over {
    border:1px solid #dddddd;
    background-color: #efefef;
    padding: 4px;
}

.img-chooser-view .x-item-selected {
    background: #DFEDFF;
    border: 1px solid #6593cf;
    padding: 4px;
}

.img-chooser-view .x-item-selected .thumb {
    background:transparent;
}

.img-chooser-view .x-item-selected span {
    color:#1A4D8F;
}

.img-chooser-view .loading-indicator {
    font-size:11px;
    background-image :url(/extnet/resources/images/loading-gif/ext.axd) ;
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}